.section3 {
    background-color: #5a3e2b;
    padding: 50px;
    text-align: center;
  }
  
  .header {
    background-color: lightgreen;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .team-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
  }
  